<%- include('./partials/header.ejs'); -%>

<h1>REGISTER</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="password" name="passwordConfirmation" placeholder="Password Confirmation">
    <button type="submit">Register!</button>
</form>

<%- include('./partials/footer.ejs'); -%>
