<%- include('./partials/header.ejs'); -%>

<h1>SIGN IN!</h1>

<form action="/signin" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Sign in</button>
</form>

<%- include('./partials/footer.ejs'); -%>